@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(172, 171, 171);
}
div[theme="dark"] {
  background-color: #212121;
  color: #fff;
  min-height: 100vh;
}
dev[theme="light"] {
  background-color: #fff;
  color: #212121;
  min-height: 100vh;
}
li {
  margin: 10px;
}
@keyframes onload {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.wellcome-screen {
  text-align: center;
}
.wellcomeText {
  margin: "-100px auto 30px";
  font-size: "50px";
}
::placeholder {
  color: rgba(255, 255, 255, 0.719);
  font-family: sans-serif;
}
