.post {
  max-width: 600px;
  width: 100%;
  margin: 10px auto;
}
.image {
  width: 100%;
}
.desc {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px auto;
}
