.navLight {
  max-width: 1200px;
  width: 100%;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  color: inherit;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
}
.navDark {
  max-width: 1200px;
  width: 100%;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  color: inherit;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #212121;
}
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}
.profile {
  width: 40px;
  margin: 0 5px;
}
.icon {
  font-size: 20px;
  color: inherit;
}
.inputContainer {
  border-radius: 30px;
  width: 300px;
  border: 1px solid rgba(77, 77, 77, 0.849);
  padding: 10px;
  display: flex;
  align-items: center;
}
.input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  background-color: inherit;
  color: inherit;
}
.searchIcon {
  height: 20px;
  margin: 0 10px 0 5px;
}
.h1 {
  font-weight: bold;
  font-size: 40px;
}
.icon {
  font-size: 30px;
  cursor: pointer;
}
