.panigation {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
}
.ul {
  display: flex;
  list-style: none;
}
.active {
  background-color: red;
  padding: 7px 15px;
  border-radius: 50%;
  cursor: pointer;
}
.li {
  padding: 5px 15px;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}
