.panigation {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
}
.ul {
  display: flex;
  list-style: none;
}
.active {
  background-color: red;
  padding: 7px 15px;
  border-radius: 50%;
}
.li {
  padding: 7px 15px;
}
