.postImage {
  max-width: 1000px;
  width: 100%;
  height: auto;
}
.image {
  width: 100% !important;
}
.post {
  width: 100%;
  max-width: 1000px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: justify;
  background-color: inherit;
  color: inherit;
}
.h1,
.p {
  padding: 30px 0;
}
.lowerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}
.profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.icon {
  font-size: 30px;
  padding: 0 5px;
}
