.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.form {
  max-width: 500px;
  width: 100%;
  text-align: center;
}
.label {
  position: relative;
  top: 25px;

  color: inherit;
}
.input {
  width: 100%;
  padding: 10px 10px;
  margin: 10px auto;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: inherit;
  font-size: 20px;
}
.input:focus,
.input:valid + .label {
  position: static;
}
.button {
  padding: 10px 20px;
  border-radius: 30px;
  margin: 20px 0;
  outline: none;
  border: 1px solid #212121;
  font-size: 20px;
  cursor: pointer;
  color: #212121;
  transition: color, background 0.3s ease;
}
.button:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.h1 {
  margin: 0 auto 25px;
}
